body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white !important;
}

.navbar {
    background-color: transparent;
}

.container {
    width: 80%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto; /* Adjust the margin as needed */
    flex-direction: column; /* Center the content vertically */
    justify-content: center;
}

.left-panel {
    background: url('your-image.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
}

.right-panel {
    padding: 20px;
    width: 100%;
}

.right-panel h1 {
    color: black; /* Change text color to black */
    margin-bottom: 0.5em;
}

.right-panel p {
    color: black; /* Change text color to black */
    line-height: 1.6;
}

.skills, .experience, .education {
    margin: 1em 0;
}

.skills h2, .experience h2, .education h2 {
    color: black;
    border-bottom: 2px solid black;
}

.education li {
    margin-bottom: 15px; /* Adjust the value as needed */
}

#logo {
    margin: auto; /* Adjust the margin as needed */
    height: 300px; /* Adjust the height as needed */
    display: block; /* Center the image horizontally */
    margin-top: 25vh;
    width: 300px;
    padding-right: 10%;
}