body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#three-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay-text {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    color: white; /* Choose a color that contrasts with your scene */
    font-size: 24px; /* Adjust as needed */
    z-index: 100; /* Ensure it's above the canvas */
}

